<section class="bg-gray200 pt-5 pb-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7">
                <article class="card">
                    <img class="card-img-top mb-2" src="https://images.unsplash.com/photo-1490645935967-10de6ba17061?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e0245bb4e87077312cc3d102e68c1efd&auto=format&fit=crop&w=735&q=80" alt="Card image">
                    <div class="card-body">
                        <h1 class="card-title display-4">
                            Sushi Rolls
                        </h1>
                        <ul>
                            <li>5 cups short-grain sushi rice</li>
                            <li>6 cups water</li>
                            <li>1/2 cup rice vinegar</li>
                            <li>2 tablespoons sugar</li>
                            <li>A teaspoon of salt</li>
                        </ul>
                        <small class="d-block"><a class="btn btn-sm btn-gray200" href="#"><i class="fa fa-external-link"></i> Visit Website</a></small>
                        <!-- Begin Comments -replace demowebsite with your own id
                        ================================================== -->
                        <div id="comments" class="mt-4">
                            <div id="disqus_thread">
                            </div>
                            <script type="text/javascript">
                                var disqus_shortname = 'demowebsite';
                                var disqus_developer = 0;
                                (function () {
                                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                                    dsq.src = window.location.protocol + '//' + disqus_shortname + '.disqus.com/embed.js';
                                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                                })();
                            </script>
                            <noscript>
                                Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
                            </noscript>
                        </div>
                        <!--End Comments
                        ================================================== -->
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
